.formInput {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 30vh;
}

.textInput {
  padding: 25px;
  min-width: 30rem;
  margin: 0.5rem 0rem;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.checkInput {
  margin: 10px;
  padding: 10px;
}

@media screen and (max-width: 300px) {
  .formInput {
    align-items: center;
  }
}

@media screen and (max-width: 300px) {
  .textInput {
    min-width: 20rem;
  }
}
