.container {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  min-height: 10rem;
  margin: 2rem 0rem;
  padding: 2rem;
}

.darkToggle {
  background-color: rgba(0, 0, 0, 0.1);
}

.container:hover {
  box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1),
    0px 4px 10px 10px rgba(0, 0, 0, 0.1);
}

.mainContent {
  flex: 9;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.jLocation {
  flex: 1;
  color: #38a169;
  font-weight: 700;
}

.applyButton,
.detailButton {
  border-radius: 10px;
  padding: 15px;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.1);

  font-weight: 700;
  border: none;
  font-family: "Poppins", sans-serif;
  margin: 1.5rem;
}

.applyButton:hover,
.detailButton:hover {
  background: rgb(187, 229, 255);
  color: black;
}

.description {
  display: inline-block;
  margin: 1.5rem;
}

.text-grey-600,
.text-grey {
  text-align: end;
  color: rgb(110, 128, 152);
  font-weight: 700;
}
.company {
  color: #5964e0;
  font-weight: 700;
  margin: 0.5rem 0rem;
}

.text-grey-600::after {
  content: " \2219 ";
  color: rgb(77, 255, 0);
  font-weight: 900;
  margin: 0rem 0.5rem;
}

a {
  text-decoration: inherit;
  font-size: 13.3333px;
}

@media screen and (max-width: 360px) {
  html {
    font-size: 60%;
    scroll-behavior: smooth;
    width: 100%;
  }

  h3 {
    font-size: 80%;
  }

  .detailButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .detailButton,
  .applyButton {
    /* very important style for flex */
    display: inline-block;

    align-self: center;
  }
}
