.description {
  padding: 2rem 0rem;
}

.jobDContainer {
  width: 90%;
  margin: auto;
}

.cLContainer {
  height: 70px;
  width: 100px;
}

.companyLogo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.headerJob {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 0rem;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}
